     
     body{
        background-color: #1b3124;
     }
     main{
         display: flex;
         width: 100%;
         justify-content: center;
         align-items: center;
        }

        section{
                 background-color: #1b3124;
            padding: 16px;
            width: 50rem;
            justify-content: center;
            align-items: center;
        }